openapi: 3.1.0
info:
  title: ThreatHawk API
  description: API om webdreigingen te scannen, findings op te halen en ingest/verdedigingstriggers uit te voeren.
  version: "1.0.0"
servers:
  - url: https://dashboard.render.com/web/srv-d2it9uili9vc73bb0eu0/
paths:
  /health:
    get:
      summary: Health check
      description: Controleert of de server draait
      responses:
        "200":
          description: Server is gezond

  /findings:
    get:
      summary: Haal findings op
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50 }
        - in: query
          name: min_severity
          schema: { type: integer, default: 1 }
        - in: query
          name: site
          schema: { type: string }
      responses:
        "200":
          description: Lijst met findings
          content:
            application/json: {}

  /ingest:
    post:
      summary: Forceer log-ingest
      parameters:
        - in: query
          name: source
          schema: { type: string, example: cloudflare }
        - in: query
          name: minutes
          schema: { type: integer, example: 5 }
      responses:
        "200":
          description: Ingest gestart
          content:
            application/json: {}

  /ban:
    post:
      summary: Ban een IP
      description: Gebruik dit ALLEEN na expliciete bevestiging van de gebruiker
      parameters:
        - in: query
          name: ip
          schema: { type: string }
      responses:
        "200":
          description: IP geband
          content:
            application/json: {}
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
security:
  - apiKeyAuth: []
